@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
/*common styling*/
* {
	/*background: aquamarine;*/
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	line-height: 24px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	visibility: visible;
	font-family: 'Poppins', sans-serif;
	color: #5a5a5a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin-top: 0;
	font-family: 'Baloo 2', cursive;
}
h1 {
	font-size: 48px;
	line-height: 1;
	font-weight: 700;
}
h2 {
	font-size: 36px;
	line-height: 36px;
}
h3 {
	font-size: 48px;
	line-height: 30px;
}
h4 {
	font-size: 16px;
	line-height: 19px;
}
h5 {
	font-size: 14px;
	line-height: 18px;
}
h6 {
	font-size: 12px;
	line-height: 14px;
}
p:last-child {
	margin-bottom: 0px;
}
a,
button {
	color: inherit;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}
.btn:focus {
	box-shadow: none;
}

a,
button,
img,
input,
span {
	transition: 0.3s all ease 0s;
}
*:focus {
	outline: none i !important;
}
a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
button,
input[type="submit"] {
	cursor: pointer;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.home_black_version {
	background-color: #242424;
}
.header_black .header-top {
	border-bottom: 1px solid #2d2d2d;
}
.header_black .social_icone ul li a {
	background: #2f2f2f;
	color: #cccccc;
}